@font-face {
    font-family: "Monoton";
    src: url("Monoton-Regular.ttf");
}


body {
   width: 600px;
   margin: auto;
   text-align: center;
   background-color: rgb(0, 0, 0);
   margin-top: 10px;
}

header {
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(165, 165, 165);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: lighter;
   
}

header h1 {
    font-family: "Monoton";
    font-size: 50px;
    color: rgb(255, 251, 22);
    margin-bottom: 0;

}

header h2:hover {
    color: rgb(255, 15, 15);
    transition: 2s;
    
}

nav {
    display: inline-block;
    padding: 10px;
}


a {
    text-decoration: none;
    margin: 0 10px 0 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#vader {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 60px;
    background-image: url(vader.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#vader:hover {
    border: rgb(255, 255, 11) solid 5px;
    transition: 1s;
}



main {
    border-top: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    margin-bottom: 50px;
    text-align: left;
    padding-top: 30px;
}

main h2 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.subheader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

p {
    color: rgb(239, 239, 239);
}

#planet {
    background-color: rgb(0, 0, 0);
}

#planet:hover {
    background-image: url(nasa-V4ZksNimxLk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: fadeIn 5s;
    
}
